.result {
  text-align: center;
  img {
    max-width: 250px;
    min-height: 250px;
  }
  button {
    font-weight: bold;
    border-radius: 30px;
    border: 0;
    padding: 15px 30px;
    font-size: 20px;
    background-color: darken(#ff006e, 3%);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
  }
  h2 {
    margin-bottom: 0;
  }
}
